@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?ad44eb1ef3b38340d95ae6be3c1d122d") format("truetype"),
url("./flaticon.woff?ad44eb1ef3b38340d95ae6be3c1d122d") format("woff"),
url("./flaticon.woff2?ad44eb1ef3b38340d95ae6be3c1d122d") format("woff2"),
url("./flaticon.eot?ad44eb1ef3b38340d95ae6be3c1d122d#iefix") format("embedded-opentype"),
url("./flaticon.svg?ad44eb1ef3b38340d95ae6be3c1d122d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-yoga:before {
    content: "\f101";
}
.flaticon-yoga-1:before {
    content: "\f102";
}
.flaticon-buddhist-yoga-pose:before {
    content: "\f103";
}
.flaticon-stretching-exercises:before {
    content: "\f104";
}
.flaticon-fitness:before {
    content: "\f105";
}
.flaticon-exercise:before {
    content: "\f106";
}
.flaticon-treadmill:before {
    content: "\f107";
}
.flaticon-weightlifter:before {
    content: "\f108";
}
.flaticon-exercise-1:before {
    content: "\f109";
}
